/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.navbar {
    background-color: #003366;
    padding: 20px;
    text-align: center;
    color: white;
}

.navbar h1 {
    font-size: 30px;
    font-weight: bold;
}

main {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.intro h2 {
    font-size: 26px;
    color: #003366;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
    text-align: justify;
}

.policies-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #003366;
}

.policies-content ul {
    margin-bottom: 30px;
    padding-left: 20px;
}

.policies-content ul li {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.6;
    list-style-type: disc;
}

footer {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}
